/NetBeansProjects/MPGeometry/build/
/NetBeansProjects/MPGeometry/dist/
/NetBeansProjects/MPGeometry_MOD/build/
/NetBeansProjects/MPGeometry_MOD/dist/
/NetBeansProjects/MyVector/build/
/NetBeansProjects/MyVector/dist/
/NetBeansProjects/Kmer0/build/
/NetBeansProjects/Kmer0/dist/
/NetBeansProjects/Debugger2/build/
/NetBeansProjects/Debugger2/dist/
/NetBeansProjects/Kmer1/build/
/NetBeansProjects/Kmer1/dist/
